* {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body #email_valid_notification {
  background-color: green;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  color: white;
  width: 550px;
  margin: 10px auto;
}
body #email_valid_notification h3 {
  width: 336px;
  margin: 0 auto;
}
body #email_table {
  text-align: left;
  background-color: black;
  width: 550px;
  margin: 10px auto;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
}
body #email_table table tr td:first-child {
  padding-left: 30px;
}
body #email_table table tr td:nth-child(2) {
  text-align: center;
}
body #email_table table tr td:nth-child(3) {
  text-align: right;
}
body #email_table table tr td {
  width: 350px;
}
body #resetarea {
  text-align: center;
}
body #resetarea #reset,
body #resetarea #back {
  display: block;
  width: 410px;
  margin: 10px auto;
}
